
.nav {
  text-shadow: 0px 0px 1px black;
}
.bars {
  text-shadow: 2px 2px 20px gold;
}
.lines {
  display: none;
}
.name-img {
  filter: drop-shadow(1px 1px 40px rgba(255, 215, 0, 1));
}
@media (max-width: 624px) {
  .lines {
    display: block;
  }
  .nav {
    display: none;
  }
}
